/* @media (min-width: 900px) {

    body {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 14% 80% 6%;
        grid-template-areas:
        "hd hd hd hd"
        "main main main main"
        "soc soc soc soc";
        margin: 2%;
    }

    header h1 {
        font-size: 2.5em;
    }

    header a {
        color:rgb(0, 0, 0);
        text-decoration: none;
        font-size: 1.7em;
    }

    .blog-content img {
        width: 500px;
        height: 500px;
    }

    .blog-content {
        grid-area: con;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1%;
    }

    .blog-content #main-text {
        font-size: 1.5em;
    } */






 
@media (min-width: 900px) {


    body {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 10% 84% 6%;
        grid-template-areas:
        "hd hd hd hd"
        "main main main main"
        "soc soc soc soc";
        margin: 2%;
   
        font-size: 1.5em;
    }

    header a {
        font-size: 2em;
    }

    .blog-content img {
        width: 500px;
        height: 500px;
    }

    .blog-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: space-around;
        margin-top: 1%;
    }

   

    
@media (min-width: 1200px) {

    body {
        font-size: 2em;
    }

    header a {
        font-size: 2.8em;
    }

    aside img {
        width: 400px;
        height: 400px;
    }
}

@media (min-width: 1800px) {

    body {
        grid-template-rows: 12% 82% 6%;
        font-size: 3em;
    }
